<!DOCTYPE html>
<html>

<head>
    <title>headline scrape</title>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <meta name="google-signin-scope" content="profile email">
    {{!-- <meta name="google-signin-client_id" content="667240238072-hc21hom0h99rrh7o53rhqrld13hp8fpi.apps.googleusercontent.com"> --}}
    <meta name="google-signin-client_id" content="1052587993652-5jkk2slev0l3118ghckp3e5hbbsbfu7q.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <main>
        {{{body}}}
    </main>
    <footer class="page-footer teal">
        <div class="footer-copyright">
            <div class="container">
                © Tech Scraper
                <a class="grey-text text-lighten-4"></a>
            </div>
        </div>
    </footer>
</body>

</html>