body{
    background-color: black;
}
nav{
    padding: 0px 10px;
}
#welcome{
    border: 2px double salmon;
    padding: 2px;
}
.listBtn:hover {
    color:salmon !important;
}
.side-nav{
    display: none;
}
.sign-in{
    margin:10px auto;
}
.sign-in div div span{
    padding: 0px 30px 30px 0px !important;
    margin-bottom: 30px !important;
}
#not_signed_injvku5153a6l7{
    padding:20px;
}
#cardHolder{
    display:flex;
    align-items:flex-start;
    justify-content:flex-start;
    flex-flow: row wrap;
    width:100%;
    opacity: .95;
    width:800px !important;
    margin: 30px auto 100px auto !important;
}
#card-each{
    width:calc(95% / 3);
    padding:0;
    margin:4px;
}
#card-border{
    border: 3px solid teal;
}
.link-note{
    margin: 5px 5px;
}
#close-Note,#add-Note{
    float: left !important;
    margin: 5px;
}
.cardBtn{
    text-align: center !important;
    margin: 5px 20px !important;
}
.cardBtn-a{
    margin: 5px !important;
}
.comment-div{
    clear:both;
}
.delete{
    color: teal;
}
tr{
    border: none;
}
td{
    padding: 2px;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
.page-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 12px;
    z-index: 5;
}

@media only screen and (max-width: 600px) {
    nav{
        height: 100px;
    }
    #card-each {
      width:95%;
    }
    #cardHolder{
        width: 100vw !important;
        margin: auto;
    }
    .cardBtn-a{
        margin: 20px 80px 20px auto!important;
    }
    .link-note{
        margin: 20px 130px 20px auto;
    }
}

@media (min-width: 600px) and (max-width: 800px) {
    #card-each{
        width:calc(95% / 2);
        padding:0;
        margin:4px;
    }
    #cardHolder{
        width: 100vw !important;
        margin: auto;
    }
    .cardBtn-a{
        margin: 20px !important;
    }
}